<h1>Panels#index</h1>
<p>Find me in app/views/panels/index.html.erb</p>

<center>
  <h3>You made it, <%= @user.email %>.</h3>
  <h3>Well done.</h3>
  <p><%= link_to 'Seasons Index', seasons_path %></p>
</center>
