<center>
  <h1>Get Couples</h1>
  <p>Example request: </p>
  <p>GET herokuapp.90dayapi/couples</p>
</center>
  <p>Example response:</p>

<pre>[</pre>
<pre>  {</pre>
<pre>    "id": 1,</pre>
<pre>    "m_name": "Russ",</pre>
<pre>    "m_age": 27,</pre>
<pre>    "m_city": "Owasso, OK"</pre>
<pre>    "w_name": "Paola",</pre>
<pre>    "w_age": 26,</pre>
<pre>    "w_city": "Bucaramanga, Colombia"</pre>
<pre>  },</pre>
<pre>  {...}</pre>
<pre>]</pre>
