/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery.mCustomScrollbar
 */

@import "bootstrap";

body {
  font-family: Avenir;
  height: 100vh;
  position: relative;
  margin: 0;
}

nav {
  font-family: "Montserrat", sans-serif, Arial, serif;
  background-color: #29BB9C;
}

.container {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  min-height: 70%;
}

.navbar {
  padding: 2%;
}

.navbar-brand {
  padding: 5%;
}

.page-footer {
  background-color: #2F2F2F;
  color: white;
  padding: 0.95%;
}

.m-top {
  margin-top: 2%;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 73vh;
  padding-left: 3%;
  padding-top: 5%;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#content {
  padding: 5%;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

#sidebar .sidebar-header {
    padding: 20px;
    // background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    // THIS CHANGES COLOR OF ACTIVE LINK BACKGROUND
    // MAKE IT MESH WITH PADDING-LEFT OF SIDENAV
    // background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
